.confirm-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

/* reset local */
.confirm-modal * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.confirm-modal {
    background: white;
    padding: 24px;
    border-radius: 16px;

    width: 320px;
    max-width: 90vw;

    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: center;
}

.confirm-message {
    font-size: 18px;
    color: #242424;
}

.confirm-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.confirm-btn {
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    position: initial !important;
}

.confirm-yes {
    background: #e53935;
    color: white;
}

.confirm-no {
    background: #e0e0e0;
}

.confirm-yes:hover {
    background: #c62828;
}

.confirm-no:hover {
    background: #d5d5d5;
}